# Filtrando informações nos dataframes


## Resumo

Um dos grandes potenciais do pandas é para tratar condições.

E a forma com que analisamos condições no dataframe é diferente do que já fizemos até agora no curso, vamos ver como funciona.

- Preparando as bases de dados

In [1]:
import pandas as pd
#importando os arquivos
#importando os arquivos
vendas_df = pd.read_csv(r'files/Contoso - Vendas  - 2017.csv', sep=';')
produtos_df = pd.read_csv(r'files/Contoso - Cadastro Produtos.csv', sep=';')
lojas_df = pd.read_csv(r'files/Contoso - Lojas.csv', sep=';')
clientes_df = pd.read_csv(r'files/Contoso - Clientes.csv', sep=';')

#limpando apenas as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome da Marca']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando os dataframes
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail do Cliente'})
display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail do Cliente
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
2,191019,20/03/2017,21/03/2017,1,172,376,2,6825,9,0,Adventure Works,Loja Contoso Hartford,rbrumfieldmy@ameblo.jp
3,18610,08/01/2017,10/01/2017,2,200,448,2,6825,48,0,Wide World Importers,Loja Contoso Catalog,rbrumfieldmy@ameblo.jp
4,287704,23/04/2017,26/04/2017,3,76,280,1,6825,10,0,Contoso,Loja Contoso Beaumont No.1,rbrumfieldmy@ameblo.jp
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,878244,23/11/2017,23/11/2017,0,110,889,4,347,12,1,Contoso,Loja Contoso Orlando,edowner9m@imdb.com
980638,920243,09/12/2017,10/12/2017,1,261,1367,5,38781,13,0,Contoso,Loja Contoso Damascus No.1,ruben31@adventure-works.com
980639,467482,21/06/2017,25/06/2017,4,115,269,1,553,10,0,Contoso,Loja Contoso New York No.1,akuhnertfc@themeforest.net
980640,853643,13/11/2017,20/11/2017,7,115,809,4,38860,6,0,Contoso,Loja Contoso New York No.1,anne5@adventure-works.com
980641,903958,02/12/2017,02/12/2017,0,222,1435,10,815,8,0,The Phone Company,Loja Contoso Roma,ekorneevmm@instagram.com

### Primeiro, vamos aplicar uma função normalmente. Qual o % das vendas que foi devolvido?

- Para isso vamos somar as quantidades nas colunas correspondentes. Lembrando, o % vai ser: Total Devolvido / Total Vendido.

In [3]:
quantidade_vendida = vendas_df['Quantidade Vendida'].sum()
quantidade_devolvida = vendas_df['Quantidade Devolvida'].sum()

print('O percentual foi de: {:.2%}'.format(quantidade_devolvida/quantidade_vendida))

O percentual foi de: 1.17%

### Agora, se quisermos fazer a mesma análise apenas para 1 loja. Queremos filtrar apenas os itens da Loja Contoso Europe Online e saber o % de devolução dessa loja.

- Para isso, vamos precisar filtrar. A forma de filtrar nos dataframes é uma "simples" comparação

In [6]:
#Filtrando a loja
vendas_loja_contoso = vendas_df[vendas_df['ID Loja'] == 306]

#Calculando as quantidades
quantidade_vendida = vendas_loja_contoso['Quantidade Vendida'].sum()
quantidade_devolvida = vendas_loja_contoso['Quantidade Devolvida'].sum()

print('O percentual foi de: {:.2%}'.format(quantidade_devolvida/quantidade_vendida))

O percentual foi de: 1.33%

### Vamos fazer em 2 passos para entender certinho o que está acontecendo.

In [9]:
#vendas_loja_contoso = vendas_df[vendas_df['ID Loja'] == 306]
loja_306 = vendas_df['ID Loja'] == 306
vendas_loja_contoso = vendas_df[loja_306]

display(vendas_loja_contoso)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail do Cliente
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
17,614980,18/08/2017,18/08/2017,0,306,1621,9,21344,4,0,Contoso,Loja Contoso Europe Online,makayla3@adventure-works.com
18,786402,21/10/2017,25/10/2017,4,306,226,10,21344,8,0,Litware,Loja Contoso Europe Online,makayla3@adventure-works.com
19,383897,25/05/2017,28/05/2017,3,306,347,1,21344,20,0,Fabrikam,Loja Contoso Europe Online,makayla3@adventure-works.com
77,559478,26/07/2017,29/07/2017,3,306,1382,1,24440,5,0,Contoso,Loja Contoso Europe Online,noah55@adventure-works.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885329,865745,18/11/2017,24/11/2017,6,306,823,10,9259,8,0,Contoso,Loja Contoso Europe Online,mplaskitt78@marriott.com
885356,907944,04/12/2017,04/12/2017,0,306,208,10,18529,8,0,Litware,Loja Contoso Europe Online,eribchesteres@pbs.org
885386,919123,08/12/2017,08/12/2017,0,306,208,10,38811,8,0,Litware,Loja Contoso Europe Online,jessica47@adventure-works.com
885390,964452,25/12/2017,25/12/2017,0,306,192,10,30633,8,0,Litware,Loja Contoso Europe Online,terrence23@adventure-works.com
885415,900861,01/12/2017,05/12/2017,4,306,224,10,8596,8,0,Litware,Loja Contoso Europe Online,cmordangl@webnode.com

### Desafio: e se eu quisesse criar uma tabela apenas com as vendas da Loja Contoso Europe Online e que não tiveram nenhuma devolução. Quero criar essa tabela e saber quantas vendas são.

- Repare que nesse caso são 2 condições, como fazemos isso?

In [13]:
#tudo junto
df_loja_306_sem_devolucao = vendas_df[(vendas_df['ID Loja'] == 306) & (vendas_df['Quantidade Devolvida'] == 0)]
display(df_loja_306_sem_devolucao)

#separado
loja_306 = vendas_df['ID Loja'] == 306
quantidade_devolvida_zero = vendas_df['Quantidade Devolvida'] == 0
df2_loja_306_sem_devolucao = vendas_df[loja_306 & quantidade_devolvida_zero]
display(df2_loja_306_sem_devolucao)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail do Cliente
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
17,614980,18/08/2017,18/08/2017,0,306,1621,9,21344,4,0,Contoso,Loja Contoso Europe Online,makayla3@adventure-works.com
18,786402,21/10/2017,25/10/2017,4,306,226,10,21344,8,0,Litware,Loja Contoso Europe Online,makayla3@adventure-works.com
19,383897,25/05/2017,28/05/2017,3,306,347,1,21344,20,0,Fabrikam,Loja Contoso Europe Online,makayla3@adventure-works.com
77,559478,26/07/2017,29/07/2017,3,306,1382,1,24440,5,0,Contoso,Loja Contoso Europe Online,noah55@adventure-works.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885329,865745,18/11/2017,24/11/2017,6,306,823,10,9259,8,0,Contoso,Loja Contoso Europe Online,mplaskitt78@marriott.com
885356,907944,04/12/2017,04/12/2017,0,306,208,10,18529,8,0,Litware,Loja Contoso Europe Online,eribchesteres@pbs.org
885386,919123,08/12/2017,08/12/2017,0,306,208,10,38811,8,0,Litware,Loja Contoso Europe Online,jessica47@adventure-works.com
885390,964452,25/12/2017,25/12/2017,0,306,192,10,30633,8,0,Litware,Loja Contoso Europe Online,terrence23@adventure-works.com
885415,900861,01/12/2017,05/12/2017,4,306,224,10,8596,8,0,Litware,Loja Contoso Europe Online,cmordangl@webnode.com

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome da Marca,Nome da Loja,E-mail do Cliente
1,880458,23/11/2017,23/11/2017,0,306,235,10,6825,8,0,Litware,Loja Contoso Europe Online,rbrumfieldmy@ameblo.jp
17,614980,18/08/2017,18/08/2017,0,306,1621,9,21344,4,0,Contoso,Loja Contoso Europe Online,makayla3@adventure-works.com
18,786402,21/10/2017,25/10/2017,4,306,226,10,21344,8,0,Litware,Loja Contoso Europe Online,makayla3@adventure-works.com
19,383897,25/05/2017,28/05/2017,3,306,347,1,21344,20,0,Fabrikam,Loja Contoso Europe Online,makayla3@adventure-works.com
77,559478,26/07/2017,29/07/2017,3,306,1382,1,24440,5,0,Contoso,Loja Contoso Europe Online,noah55@adventure-works.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885329,865745,18/11/2017,24/11/2017,6,306,823,10,9259,8,0,Contoso,Loja Contoso Europe Online,mplaskitt78@marriott.com
885356,907944,04/12/2017,04/12/2017,0,306,208,10,18529,8,0,Litware,Loja Contoso Europe Online,eribchesteres@pbs.org
885386,919123,08/12/2017,08/12/2017,0,306,208,10,38811,8,0,Litware,Loja Contoso Europe Online,jessica47@adventure-works.com
885390,964452,25/12/2017,25/12/2017,0,306,192,10,30633,8,0,Litware,Loja Contoso Europe Online,terrence23@adventure-works.com
885415,900861,01/12/2017,05/12/2017,4,306,224,10,8596,8,0,Litware,Loja Contoso Europe Online,cmordangl@webnode.com